<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.codegarage.recyclebin">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="tech.codegarage.recyclebin.application.RecycleBinApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="tech.codegarage.recyclebin.activity.SplashActivity"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.reversecoder.permission.activity.PermissionListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name="tech.codegarage.recyclebin.activity.HomeActivity"
            android:theme="@style/AppTheme.Transparent" />

        <service
            android:name="tech.codegarage.recyclebin.service.RecoveryService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>